<!-- Footer for not logged in user -->
<div class="row">
  <div class="col">Terms</div>
  <div class="col">
      <nb-icon icon="star"></nb-icon>
  </div>
  <div class="col">Privacy</div>
  <div class="col">
      <nb-icon icon="star"></nb-icon>
  </div>
  <div class="col">ContactUs</div>
  <div class="col">
      <nb-icon icon="star"></nb-icon>
  </div>
  <div class="col">FAQ</div>
</div>
<div class="row">
  <nb-icon icon="arrow-ios-downward"></nb-icon>
  <nb-icon icon="arrow-ios-downward"></nb-icon>
  <nb-icon icon="arrow-ios-downward"></nb-icon>
</div>

<div class="row">
  <div class="socials">
      <a href="#" target="_blank" class="ion ion-social-github"></a>
      <a href="#" target="_blank" class="ion ion-social-facebook"></a>
      <a href="#" target="_blank" class="ion ion-social-twitter"></a>
      <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
  </div>
</div>
<div class="row">
  <span class="created-by">&copy; 2020 CV Compiler . All rights reserved</span><br>
</div>
<div class="row">
  <span>Powered By</span>
</div>