<table class="table table-bordered">
    <tbody>
        <tr>
            <th>First Name</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.first_name}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" [(ngModel)]="personal.first_name" name="first_name">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" [(ngModel)]="personal.first_name" name="first_name">
            </th>
        </tr>
        <tr>
            <th>Last Name</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.last_name}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" [(ngModel)]="personal.last_name" name="last_name">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" [(ngModel)]="personal.last_name" name="last_name">
            </th>
        </tr>
        <tr>
            <th>Birth Date</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.birth_date}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" [(ngModel)]="personal.birth_date" name="birth_date">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" [(ngModel)]="personal.birth_date" name="birth_date">
            </th>
        </tr>
        <tr>
            <th>Nationality</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.nationality}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" [(ngModel)]="personal.nationality" name="nationality">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" [(ngModel)]="personal.nationality" name="nationality">
            </th>
        </tr>
        <tr>
            <th>Country</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.country}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" [(ngModel)]="personal.country" name="country">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" [(ngModel)]="personal.country" name="country">
            </th>
        </tr>
        <tr>
            <th>City</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.city}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" [(ngModel)]="personal.city" name="city">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" [(ngModel)]="personal.city" name="city">
            </th>
        </tr>
        <tr>
            <th>Postal Code</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.postal_code}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" [(ngModel)]="personal.postal_code" name="postal_code">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" [(ngModel)]="personal.postal_code" name="postal_code">
            </th>
        </tr>
        <tr>
            <th>Email</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.email}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" [(ngModel)]="personal.email" name="email">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" [(ngModel)]="personal.email" name="email">
            </th>
        </tr>
        <tr>
            <th>Phone</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.phone}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" [(ngModel)]="personal.phone" name="phone">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" [(ngModel)]="personal.phone" name="phone">
            </th>
        </tr>
        <tr>
            <th>Application Job Title</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.application_job_title}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input nbInput type="text" class="form-control" [(ngModel)]="personal.application_job_title" name="application_job_title">
            </th>
        </tr>
        <tr>
            <th>Links</th>
            <th scope="row" *ngIf="type === 'view'">
                <span *ngFor="let link of personal.links">{{link.link}} | <br></span>
            </th>
            <th scope="row" *ngIf="type === 'edit' && isUser()">
                <input *ngFor="let link of personal.links" nbInput type="text" class="form-control" [(ngModel)]="link.link" name="link">
            </th>
            <th scope="row" *ngIf="type === 'edit' && !isUser()">
                <input *ngFor="let link of personal.links" nbInput type="text" class="form-control" [(ngModel)]="link.link" name="link" disabled>
            </th>
        </tr>
        <tr>
            <th>Personal Statement</th>
            <th scope="row" *ngIf="type === 'view'">{{personal.personal_statement}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <textarea maxlength="100" nbInput type="text" rows= "5" class="form-control" [(ngModel)]="personal.personal_statement" name="personal_statement"></textarea>
            </th>
        </tr>
    </tbody>
</table>

<div *ngIf="type === 'edit'">
    <button fullWidth nbButton outline status="primary" (click)="save()">
        Save
    </button>
    <button fullWidth nbButton outline status="primary" (click)="cancel()">
        Cancel
    </button>
</div>