<!-- <br><br>
<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-body>
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Keep it
            real
          </h6>
          <p>Usually a CV should be no more than two pages – and that’s two pages of A4 paper! Employers spend, an
            average, just 8 seconds looking at any one CV, and a sure-fire way of landing yourself on the no pile is to
            send them your entire life story. Keep it punchy, to the point, and save those niggly little details for the
            interview.
          </p>
        </div>
        <hr class="divider my-4" />
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Include
            a personal statement
          </h6>
          <p>Don’t just assume an employer will see how your experience relates to their job. Instead, use a short
            personal statement to explain why you are the best person for the job. This should be reflected in your
            cover letter as well.
          </p>
        </div>
        <hr class="divider my-4" />
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Keep it
            current
          </h6>
          <p>You should keep your CV up-to-date whether you’re looking for a job or not. Every time something
            significant occurs in your career, record it so you don’t later forget something that could be important.
          </p>
        </div>
        <hr class="divider my-4" />
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Tell
            the truth
          </h6>
          <p>Everyone lies on their CV, right? NO! Stop! Blatant lies on your CV can land you in a whole heap of trouble
            when it comes to employers checking your background and references. The last thing you want is to start work
            and then lose your new job for lying. You also may get caught out at the interview stage when you suddenly
            can’t answer questions on what you claim to know. And that can be VERY awkward!
          </p>
        </div>
        <hr class="divider my-4" />
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Make it
            look good
          </h6>
          <p>We live in a world where image is everything, and that also goes for your CV. Take some time to pretty it
            up… Use bullet points and keep sentences short. Use the graphic design trick of leaving plenty of white
            space around text and between categories to make the layout easy on the eye. </p>
        </div>


      </nb-card-body>
    </nb-card>
  </div>

  <div class="col">
    <nb-card>
      <nb-card-body>
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Tailor
            it
          </h6>
          <p>We’ve all done it. Whizzed the same CV out to lots of employers to save time… Stop! Take the time to change
            your CV for each role that you apply for. Research the company and use the job advert to work out EXACTLY
            what skills you should point out to them. They will appreciate the obvious effort
          </p>
        </div>
        <hr class="divider my-4" />
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Don't
            leave gaps
          </h6>
          <p>We are a cynical bunch and leaving obvious gaps on your CV immediately makes employers suspicious – and
            they won’t give you the benefit of the doubt. If you’ve been out of work it can be a worry but just put a
            positive spin on it. Did you do a course, volunteer work or develop soft skills such as communication,
            teamwork or project management? If so, shout about it! </p>
        </div>
        <hr class="divider my-4" />
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>The
            error of your ways
          </h6>
          <p>Employers DO look for mistakes on CVs and if they find them, it makes you look really bad. With most
            employers experiencing massive volumes of applicants right now, giving them the excuse to dismiss your
            application because of avoidable errors is not going to help you secure an interview. </p>
        </div>
        <hr class="divider my-4" />
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>The
            maths
          </h6>
          <p>This may sound dull but by backing up your achievements with numbers it makes selling yourself much easier.
            When writing your work history, don’t just say that you increased sales; tell them you increased sales by
            70% over a six month period. Get it? Big numbers are especially good.
          </p>
        </div>
        <hr class="divider my-4" />
        <div>
          <h6>
            <nb-icon class="icon" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Make it
            keyword friendly
          </h6>
          <p>If you’ve uploaded your CV to a job site so recruiters can find you, keywords are very important. Job
            titles and job buzzwords will help a search engine pick out your CV from the pile.</p>
        </div>


      </nb-card-body>
    </nb-card>
  </div>
</div>

<h5 style="text-align: center;">Our professional team will help you achieve the best CV tailored for your job.</h5>
<br><br>
<h6 style="text-align: center;">Sectioning your CV</h6><br>

<div class="row offset-md-2">
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Contact Information
  </div>
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Profile Overview
  </div>
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Work Experience
  </div>
</div><br><br>

<div class="row offset-md-2">
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Education
  </div>
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Certifications
  </div>
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Skill
  </div>
</div><br><br>

<div class="row offset-md-2">
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Languages
  </div>
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Extra Training and Courses
  </div>
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Awards
  </div>
</div><br><br>

<div class="row offset-md-2">
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Conferences
  </div>
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Publications
  </div>
  <div class="col-md-4">
    <nb-icon class="icon" icon="checkmark" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    Photos
  </div>
</div><br><br>

<a [routerLink]="['/pages/cv-tip/user-guid']"><strong><nb-icon class="icon" icon="book-open" [options]="{ animation: { type: 'pulse' } }"></nb-icon>User Guid</strong></a> -->

<a [routerLink]="['/pages/dashboard']">Dashboard
</a> | 
<a [routerLink]="['/pages/cv-tip/photo-tip']">Photo Tips
</a>

<tip-one *ngIf="tipOne" (next)="tipTwo = true; tipOne = false;"></tip-one>
<tip-two *ngIf="tipTwo" (previous)="tipTwo = false; tipOne = true;" (next)="tipThree = true; tipTwo = false;"></tip-two>
<tip-three *ngIf="tipThree" (previous)="tipTwo = true; tipThree = false;" (next)="tipThree = false; tipFour = true;"></tip-three>
<tip-four *ngIf="tipFour" (previous)="tipThree = true; tipFour = false;" (next)="tipFive = true; tipFour = false;"></tip-four>
<tip-five *ngIf="tipFive" (previous)="tipFour = true; tipFive = false;"></tip-five>