<a [routerLink]="['/pages/dashboard']">Dashboard</a> | 
<a [routerLink]="['/pages/cv-history/cv-list']">History</a>

<button style="float: right;" nbButton status="primary" ghost [nbPopover]="templateRef"
  nbPopoverPlacement="bottom">View</button>
<ng-template #templateRef>
  <div class="demo-items">
    <nb-checkbox [(ngModel)]="viewType.uploaded">Uploaded</nb-checkbox><br>
    <nb-checkbox [(ngModel)]="viewType.recommended">Recommended</nb-checkbox>
  </div>
</ng-template>
<br><br><br>

<nb-alert *ngIf="successMessage" outline="success" role="alert">
  <p class="alert-title text-center"><b>{{successMessage}}</b></p>
</nb-alert>
<nb-alert *ngIf="errorMessage" outline="danger" role="alert">
  <p class="alert-title text-center"><b>{{errorMessage}}</b></p>
</nb-alert>

<div class="row">
  <div class="col" *ngIf="viewType.uploaded">
    <h6 class="text-center text-primary">Uploaded</h6>
  </div>
  <div class="col" *ngIf="viewType.recommended">
    <h6 class="text-center text-primary">Recommended</h6>
  </div>
</div>

<education-view *ngIf="educationSection.name" [educationSection]="educationSection"  [cvId]="cvId" (onUpdateCv)="onUpdateCv($event)" (onUpdateRecommendation)="updateRecommendation($event)" (saveEducationVersion)="saveEducationVersion($event)"></education-view>
<hr>
<work-view *ngIf="workSection.name" [workSection]="workSection"  [cvId]="cvId" (onUpdateCv)="onUpdateCv($event)" (onUpdateRecommendation)="updateRecommendation($event)" (saveWorkVersion)="saveWorkVersion($event)"></work-view>
<hr>
<personal-view *ngIf="personalSection.name" [personalSection]="personalSection" [cvId]="cvId"
  (onUpdateCv)="onUpdateCv($event)" (onUpdateRecommendation)="updateRecommendation($event)"
  (savePersonalVersion)="savePersonalVersion($event)"></personal-view>
<hr>
<skill-view *ngIf="skillSection.name" [skillSection]="skillSection" [cvId]="cvId" (onUpdateCv)="onUpdateCv($event)"
  (onUpdateRecommendation)="updateRecommendation($event)" (saveSkillVersion)="saveSkillVersion($event)"></skill-view>
<hr>
<acheivement-view *ngIf="acheivementSection.name" [acheivementSection]="acheivementSection" [cvId]="cvId"
  (onUpdateCv)="onUpdateCv($event)" (onUpdateRecommendation)="updateRecommendation($event)"
  (saveAcheivementVersion)="saveAcheivementVersion($event)"></acheivement-view>
<hr>
<reference-view *ngIf="referenceSection.name" [referenceSection]="referenceSection" [cvId]="cvId"
  (onUpdateCv)="onUpdateCv($event)" (onUpdateRecommendation)="updateRecommendation($event)"
  (saveReferenceVersion)="saveReferenceVersion($event)"></reference-view>
  
<div class="row">
  <div class="col-lg-4 offset-md-5">
    <!-- <button nbButton status="primary" (click)="keepAll()">
      Keep All
    </button> | -->
    <button nbButton status="primary" (click)="replaceAll()" [disabled]="!readyToReplace()">
      Replace All
    </button> |
    <button nbButton status="primary" (click)="saveVersion()">
      Save This Version
    </button>
  </div>
</div>