<nb-card>
    <nb-card-body>
        <nb-stepper #stepper disableStepNavigation>
            <nb-step label="Language">
                <form #form1="ngForm" class="step-container">
                    <p class="lorem">
                        What languages do you speak?

                        <nb-icon icon="plus-square" [options]="{ animation: { type: 'zoom' } }" (click)="addLanguage()"
                        style="font-size: 2em;color: #3777e5; float: right;"></nb-icon>
                    </p>
                    <div class="row" *ngFor="let s of languageArr; let i=index">
                        <div class="col input-group">
                            <input nbInput type="text" fullWidth placeholder="Eg. Amharic" class="form-control"
                                 [(ngModel)]="skill.language[i].type" required
                                name="type">
                        </div>
                        <div class="col input-group">
                                <nb-select placeholder="Select Level" fullWidth [(ngModel)]="skill.language[i].level" name="level">
                                    <nb-option value="Native / Bilingual">Native / Bilingual</nb-option>
                                    <nb-option value="Full Professional">Full Professional</nb-option>
                                    <nb-option value="Professional Working">Professional Working</nb-option>
                                    <nb-option value="Limited Working">Limited Working</nb-option>
                                    <nb-option value="Elementary">Elementary</nb-option>
                                </nb-select>
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form1.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Soft Skills">
                <form #form2="ngForm" class="step-container">
                    <p class="lorem">
                        What are your soft skills?

                        <nb-icon icon="plus-square" [options]="{ animation: { type: 'zoom' } }" (click)="addSoftSkill()"
                        style="font-size: 2em;color: #3777e5; float: right;"></nb-icon>
                    </p>
                    <div class="row">
                        <div class="col input-group" *ngFor="let s of softArr; let i=index">
                            <input nbInput fullWidth type="text" placeholder="Eg. Communication" class="form-control"
                                 [(ngModel)]="skill.soft_skill[i]" required
                                name="soft_skill">
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form2.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Hard Skills">
                <form #form3="ngForm" class="step-container">
                    <p class="lorem">
                        What are your hard skills?

                        <nb-icon icon="plus-square" [options]="{ animation: { type: 'zoom' } }" (click)="addHardSkill()"
                        style="font-size: 2em;color: #3777e5; float: right;"></nb-icon>
                    </p>
                    <div class="row">
                        <div class="col input-group" *ngFor="let s of hardArr; let i=index">
                            <input nbInput type="text" fullWidth placeholder="Eg. Adobe XD guru" class="form-control"
                                 [(ngModel)]="skill.hard_skill[i]" required
                                name="hard_skill">
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button (click)="submitSkill()" nbButton nbStepperNext [disabled]="!form3.valid">Confirm</button>
                </form>
            </nb-step>
            <nb-step [hidden]="true">
                <div class="step-container">
                    <h3>Wizard completed!</h3>
                    <!-- <button nbButton (click)="resetskill();stepper.reset()">Add skill</button> -->
                </div>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>