<div *ngFor="let education of educationList">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Degree</th>
                <th scope="row" *ngIf="type === 'view'">{{education.degree}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input *ngIf="isUser()" nbInput type="text" class="form-control" #type [(ngModel)]="education.degree" name="degree">
                    <input *ngIf="!isUser()" nbInput type="text" class="form-control" #type [(ngModel)]="education.degree" disabled name="degree">
                </th>
            </tr>
            <tr>
                <th>Field Of Study</th>
                <th scope="row" *ngIf="type === 'view'">{{education.field_of_study}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input *ngIf="isUser()" nbInput type="text" class="form-control" #type [(ngModel)]="education.field_of_study"
                        name="degree">
                        <input *ngIf="!isUser()" nbInput type="text" class="form-control" #type [(ngModel)]="education.field_of_study"
                        name="degree" disabled>
                </th>
            </tr>
            <tr>
                <th>Institute</th>
                <th scope="row" *ngIf="type === 'view'">{{education.institute}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input nbInput type="text" class="form-control" #type [(ngModel)]="education.institute" name="degree">
                </th>
            </tr>
            <tr>
                <th>Duration</th>
                <th scope="row" *ngIf="type === 'view'">{{education.from}} - {{education.to}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input *ngIf="isUser()" nbInput type="text" class="form-control" #type [(ngModel)]="education.from" name="degree">
                    <input *ngIf="isUser()" nbInput type="text" class="form-control" #type [(ngModel)]="education.to" name="degree">
                    <input *ngIf="!isUser()" nbInput type="text" class="form-control" #type [(ngModel)]="education.from" name="degree" disabled>
                    <input *ngIf="!isUser()" nbInput type="text" class="form-control" #type [(ngModel)]="education.to" name="degree" disabled>
                </th>
            </tr>
        </tbody>
    </table>
    <hr class="my-4" />
</div>


<div *ngIf="type === 'edit'">
    <button fullWidth nbButton outline status="primary" (click)="save()">
        Save
    </button>
    <button fullWidth nbButton outline status="primary" (click)="cancel()">
        Cancel
    </button>
</div>