<div *ngFor="let reference of referenceList">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>First Name</th>
                <th scope="row" *ngIf="type === 'view'">{{reference.first_name}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input nbInput type="text" *ngIf="isUser()" class="form-control" #first_name [(ngModel)]="reference.first_name"
                        name="first_name">
                    <input nbInput type="text" *ngIf="!isUser()" disabled class="form-control" #first_name [(ngModel)]="reference.first_name"
                        name="first_name">
                </th>
            </tr>
            <tr>
                <th>Last Name</th>
                <th scope="row" *ngIf="type === 'view'">{{reference.last_name}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input nbInput type="text" *ngIf="isUser()" class="form-control" #last_name
                        [(ngModel)]="reference.last_name" name="last_name">
                    <input nbInput type="text" *ngIf="!isUser()" disabled class="form-control" #last_name
                        [(ngModel)]="reference.last_name" name="last_name">
                </th>
            </tr>
            <tr>
                <th>Email</th>
                <th scope="row" *ngIf="type === 'view'">{{reference.email}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input nbInput type="text" *ngIf="isUser()" class="form-control" #email
                        [(ngModel)]="reference.email" name="email">
                    <input nbInput type="text" *ngIf="!isUser()" disabled class="form-control" #email
                        [(ngModel)]="reference.email" name="email">
                </th>
            </tr>
            <tr>
                <th>Phone</th>
                <th scope="row" *ngIf="type === 'view'">{{reference.phone}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input nbInput type="text" *ngIf="isUser()" class="form-control" #phone
                        [(ngModel)]="reference.phone" name="phone">
                    <input nbInput type="text" *ngIf="!isUser()" disabled class="form-control" #phone
                        [(ngModel)]="reference.phone" name="phone">
                </th>
            </tr>
            <tr>
                <th>Profession</th>
                <th scope="row" *ngIf="type === 'view'">{{reference.profession}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input nbInput type="text" *ngIf="isUser()" class="form-control" #profession
                        [(ngModel)]="reference.profession" name="profession">
                    <input nbInput type="text" *ngIf="!isUser()" disabled class="form-control" #profession
                        [(ngModel)]="reference.profession" name="profession">
                </th>
            </tr>
            <tr>
                <th>Company</th>
                <th scope="row" *ngIf="type === 'view'">{{reference.company}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input nbInput type="text" class="form-control" #company [(ngModel)]="reference.company"
                        name="company">
                </th>
            </tr>
        </tbody>
    </table>
    <hr class="my-4" />
</div>


<div *ngIf="type === 'edit'">
    <button fullWidth nbButton outline status="primary" (click)="save()">
        Save
    </button>
    <button fullWidth nbButton outline status="primary" (click)="cancel()">
        Cancel
    </button>
</div>