<nb-card>
    <nb-card-body>
        <nb-stepper #stepper disableStepNavigation>
            <nb-step label="Full Name">
                <form #formzero="ngForm" class="step-container">
                    <p class="lorem">
                        First Name, Last Name, Email, Phone, Postal Code?
                    </p>
                    <div class="row">
                        <div class="col input-group">
                            <input nbInput type="text" placeholder="Eg. John" class="form-control" #first_name
                                [(ngModel)]="personal.first_name" required name="first_name">
                        </div>
                        <div class="col input-group">
                            <input nbInput type="text" placeholder="Eg. Doe" class="form-control" #last_name
                                [(ngModel)]="personal.last_name" required name="last_name">
                        </div>
                        <div class="col input-group">
                            <input nbInput type="text" placeholder="Eg. example@example.com" class="form-control" #email
                                [(ngModel)]="personal.email" required name="email">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col input-group">
                            <input nbInput type="text" placeholder="Eg. +251988776677" class="form-control" #phone
                                [(ngModel)]="personal.phone" required name="phone">
                        </div>
                        <div class="col input-group">
                            <input nbInput type="text" placeholder="Eg. 1000" class="form-control" #phone
                                [(ngModel)]="personal.postal_code" required name="postal_code">
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperNext [disabled]="!formzero.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Job Title">
                <form #formOne="ngForm" class="step-container">
                    <p class="lorem">
                        What is your Job Title?
                    </p>
                    <div class="input-group">
                        <input nbInput type="text" fullWidth placeholder="Eg. UI Designer" class="form-control"
                            #application_job_title [(ngModel)]="personal.application_job_title" required
                            [status]="application_job_title.dirty ? (application_job_title.invalid  ? 'danger' : 'success') : ''"
                            name="application_job_title">
                        <ng-container *ngIf="application_job_title.invalid && application_job_title.touched">
                            <p class="caption status-danger" *ngIf="application_job_title.errors?.required">
                                Job Title is required!
                            </p>
                        </ng-container>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!formOne.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Origin">
                <form #form2="ngForm" class="step-container">
                    <p class="lorem">
                        Birth Date, Nationality, Country, City?
                    </p>
                    <div class="row">
                        <div class="col input-group">
                            <input nbInput type="date" class="form-control" #birth_date
                                [(ngModel)]="personal.birth_date" required name="birth_date">
                        </div>
                        <div class="col input-group">
                            <input nbInput type="text" placeholder="Eg. Ethiopia" class="form-control" #nationality
                                [(ngModel)]="personal.nationality" required name="nationality">
                        </div>
                        <div class="col input-group">
                            <input nbInput type="text" placeholder="Eg. Ethiopia" class="form-control" #country
                                [(ngModel)]="personal.country" required name="country">
                        </div>
                        <div class="col input-group">
                            <input nbInput type="text" placeholder="Eg. Addis Ababa" class="form-control" #city
                                [(ngModel)]="personal.city" required name="city">
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form2.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Statement">
                <form #form3="ngForm" class="step-container">
                    <p class="lorem">
                        Personal Statement...
                    </p>
                    <div class="input-group">
                        <textarea nbInput fullWidth rows="5" type="text"
                            placeholder="Eg. I am a UI Designer with a passion to..." class="form-control"
                            #personal_statement [(ngModel)]="personal.personal_statement" required
                            name="personal_statement"></textarea>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button> &nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form3.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Links">
                <form #form4="ngForm" class="step-container">
                    <p class="lorem">
                        Links
                        <nb-icon icon="plus-square" [options]="{ animation: { type: 'zoom' } }" (click)="addLink()"
                            style="font-size: 2em;color: #3777e5; float: right;"></nb-icon>
                    </p>
                    <div class="row" *ngFor="let l of linkArr; let i=index">
                        <div class="col input-group">
                            <!-- <input nbInput type="text" placeholder="Eg. LinkedIn" class="form-control"
                                [(ngModel)]="personal.links[i].type" name="from"> -->
                            <nb-select placeholder="Select Type" fullWidth [(ngModel)]="personal.links[i].type"
                                name="type" required>
                                <nb-option value="Linked In">Linked In</nb-option>
                                <nb-option value="Github">Github</nb-option>
                                <nb-option value="Personal Website">Personal Website</nb-option>
                                <nb-option value="Behance">Behance</nb-option>
                                <nb-option value="Proz">Proz</nb-option>
                            </nb-select>
                        </div>
                        <div class="col input-group">
                            <input nbInput type="text" placeholder="Type your link here..." class="form-control"
                                [(ngModel)]="personal.links[i].link" name="link" required>
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button (click)="submitPersonal()" nbButton nbStepperNext [disabled]="!form4.valid">Confirm</button>
                </form>
            </nb-step>
            <nb-step [hidden]="true">
                <div class="step-container">
                    <h3>Wizard completed!</h3>
                </div>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>