<a [routerLink]="['/pages/dashboard']">Dashboard
</a> | 
<a [routerLink]="['/pages/cv-tip/tip']">CV Tips
</a>

<photo-tip-one *ngIf="photoOne" (next)="photoTwo = true; photoOne = false;"></photo-tip-one>
<photo-tip-two *ngIf="photoTwo" (next)="photoThree = true; photoTwo = false;" (previous)="photoOne = true; photoTwo = false;"></photo-tip-two>
<photo-tip-three *ngIf="photoThree" (previous)="photoTwo = true; photoThree = false;"></photo-tip-three>