<div class="offset-md-2">
  <h6>Sent CV</h6>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cv of sentUserCVList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{cv.user.firstName}} {{cv.user.lastName}}</td>
        <td><a>{{cv.user.email}}</a></td>
        <!-- <td><a [routerLink]="['/pages/admin-page/recommendation']">{{cv.user.email}}</a></td> -->
        <td>{{cv.createdAt}}</td>
      </tr>
    </tbody>
  </table>
</div>