<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <div class="text-center">
            <h2 class="title">404 Page Not Found</h2>
            <small class="sub-title">The page you were looking for doesn't exist</small>
            <button nbButton fullWidth [routerLink]="['/home']" type="button" class="home-button">
              Take me home
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  