<nb-card>
    <nb-card-body>
        <nb-stepper #stepper disableStepNavigation>
            <nb-step label="Full Name">
                <form #form2="ngForm" class="step-container">
                    <p class="lorem">
                        First Name and Last Name?
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input nbInput fullWidth type="text" placeholder="Eg. John" class="form-control" #first_name
                                    [(ngModel)]="reference.first_name" required name="first_name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input nbInput fullWidth type="text" placeholder="Eg. Doe" class="form-control" #last_name
                                    [(ngModel)]="reference.last_name" required name="last_name">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form2.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Contact Info">
                <form #form3="ngForm" class="step-container">
                    <p class="lorem">
                        Email and Phone?
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input nbInput fullWidth type="text" placeholder="Eg. example@example.com" class="form-control" #email
                                    [(ngModel)]="reference.email" required name="email">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input nbInput fullWidth type="text" placeholder="Eg. 0911111111" class="form-control" #phone
                                    [(ngModel)]="reference.phone" required name="phone">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button> &nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form3.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Place of work">
                <form #form4="ngForm" class="step-container">
                    <p class="lorem">
                        Where does your reference work?
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input nbInput fullWidth type="text" placeholder="Eg. Professor" class="form-control" #profession
                                    [(ngModel)]="reference.profession" required name="profession">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input nbInput fullWidth type="text" placeholder="Eg. Ethio Telecom" class="form-control" #company
                                    [(ngModel)]="reference.company" required name="company">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button (click)="submitReference()" nbButton nbStepperNext [disabled]="!form4.valid">Confirm</button>
                </form>
            </nb-step>
            <nb-step [hidden]="true">
                <div class="step-container">
                    <h3>Wizard completed!</h3>
                    <div *ngIf="!isDone">
                        <button nbButton (click)="resetReference();stepper.reset()">Add Reference</button>&nbsp;&nbsp;
                        <button nbButton (click)="done()">Done</button>
                    </div>
                </div>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>