<p class="text-center text-primary"><b>Education</b></p>

<div *ngIf="type === 'view'">
    <div class="row">
        <div class="col">
            <nb-card>
                <nb-card-body>
                    <education-table [type]="type" [educationList]="educationSection.uploaded">
                    </education-table>
                </nb-card-body>
                <button fullWidth nbButton outline status="primary" *ngIf="isUser()"
                    (click)="selectList(educationSection.uploaded)">
                    Edit
                </button>
            </nb-card>
        </div>
        <div class="recommend col d-flex justify-self-strech">
            <nb-card>
                <nb-card-body>
                    <education-table *ngIf="educationSection.recommended[0]" [type]="type"
                        [educationList]="educationSection.recommended"></education-table>
                    <p *ngIf="!educationSection.recommended[0]">No Recommdendation Given!</p>
                </nb-card-body>
                <div *ngIf="isAdmin()">
                    <button fullWidth nbButton outline status="primary" *ngIf="educationSection.recommended[0]"
                        (click)="selectList(educationSection.recommended)">
                        Edit
                    </button>
                    <button fullWidth nbButton outline status="primary" *ngIf="!educationSection.recommended[0]"
                        (click)="selectList(educationSection.uploaded)">
                        Add
                    </button>
                </div>
            </nb-card>
        </div>
        <!-- <div class="col ">
            <nb-card *ngIf="educationSection.recommended[0]">
                <nb-card-body>
                    <education-table [type]="type" [educationList]="educationSection.recommended"></education-table>
                </nb-card-body>
                <div *ngIf="isAdmin()">
                    <button fullWidth nbButton outline status="primary"
                        (click)="selectList(educationSection.recommended)">
                        Edit
                    </button>
                </div>
            </nb-card>
            <p class="text-center" *ngIf="!educationSection.recommended[0]">
                <nb-icon icon="plus-square" [options]="{ animation: { type: 'zoom' } }"
                    style="font-size: 7em;color: #3777e5;"></nb-icon>
            </p>
        </div> -->
    </div>
    <div class="row" *ngIf="isUser()">
        <!-- <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="keep()">
                    Keep
                </button>
            </p>
        </div> -->
        <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="replace()" [disabled]="!educationSection.recommended[0]">
                    Replace
                </button>
            </p>
        </div>
    </div>
</div>


<div *ngIf="type === 'edit'">
    <div class="row">
        <div class="col-lg-5 offset-md-3">
            <nb-card>
                <nb-card-body>
                    <education-table [type]="type" [educationList]="selectedEducationList" (onCancel)="type = 'view'"
                        (onSave)="saveEducationList($event)">
                    </education-table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>