.container .row{
    padding: 30px 0;
}

.container:hover .card
{
    filter: blur(5px);
    transform: scale(.7);
}
.container .card
{
    background: #fff;
    display: flex;
    justify-content: left;
    align-items: left;
    transition: 0.5s;
    /* overflow: hidden;
    border-radius: 8rem; */
    width: 150px;
    border-color: #edf1f7;

}
.container .card .icon{
    font-size: 3em;
    color: #3777e5;
    margin-top: 4px;
}
.container .card h6{
    color: #3777e5;
    margin-right: 15px;
}
.container .card:hover
{
    filter: blur(0px);
    transform: scale(1);
}
.container .card:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #edf1f7;
    z-index: 1;
    transition: 0.5s;
}
.container .card:hover:before
{
    /* background: #000; */
    transform: scaleY(1.15);
    /* box-shadow: 0 5px 15px rgba(0,0,0,.2); */
}
.container .card:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: 0.5s;
    background: rgba(255,255,255,.1);
    z-index: 1;
}
.container .card:hover:after
{
    transform: scaleY(1.15);
}
.container .card:hover
{
    z-index: 1;
}
.container .card .content
{
    text-align: center;
    z-index: 2;
    /* padding: 0 20px; */
    transition: 0.5s;
}
.container .card:hover .content
{
    color: #fff;
}
.ellipse {
    width: 53px;
    height: 53px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f5f5f5;
    background-color: var(--white);
    border-radius: 8rem;
    margin-left: 30px;
}