<div class="container">
  <div class="row" style="margin-top: 100px;">
    <div class="card">
      <div class="content" (click)="navigateToUpload()">
        <div class="ellipse">
          <nb-icon class="icon" icon="file-add-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
        </div>
        <h6 class="h6 mb-2">Creat CV</h6>
      </div>
    </div>
    <div class="card">
      <div class="content" (click)="navigateToCvHistory()">
        <div class="ellipse">
          <nb-icon class="icon" icon="clock-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
        </div>
        <h6 class="h6 mb-2">CV History</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="content" (click)="navigateToTemplate()">
        <div class="ellipse">
          <nb-icon class="icon" icon="file-text-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
        </div>
        <h6 class="h6 mb-2">Template</h6>
      </div>
    </div>
    <div class="card">
      <div class="content" (click)="navigateToCvTip()">
        <div class="ellipse">
          <nb-icon class="icon" icon="question-mark-circle-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
        </div>
        <h6 class="h6 mb-2">CV Tips</h6>
      </div>
    </div>
  </div>
</div>