<p *ngFor="let acheivement of acheivementList; let i=index">
    <nb-list *ngIf="type === 'view'">
        <nb-list-item>
            {{acheivement}}
        </nb-list-item>
    </nb-list>
    <textarea maxlength="100" *ngIf="type === 'edit'" rows="3" nbInput fullWidth type="text" class="form-control" [(ngModel)]="acheivement" (change)="onChange($event, i)"
        name="level"></textarea>
</p>

<div *ngIf="type === 'edit'">
    <button fullWidth nbButton outline status="primary" (click)="save()">
        Save
    </button>
    <button fullWidth nbButton outline status="primary" (click)="cancel()">
        Cancel
    </button>
</div>