<nb-card>
    <nb-card-body>
        <nb-stepper #stepper disableStepNavigation>
            <nb-step label="Degree Type">
                <form #formOne="ngForm" class="step-container">
                    <p class="lorem">
                        What degree did you receive?
                    </p>
                    <div class="input-group">
                        <input nbInput type="text" fullWidth placeholder="Eg. BSc" class="form-control" #degree
                            [(ngModel)]="education.degree" required
                            [status]="degree.dirty ? (degree.invalid  ? 'danger' : 'success') : ''" name="degree">
                        <ng-container *ngIf="degree.invalid && degree.touched">
                            <p class="caption status-danger" *ngIf="degree.errors?.required">
                                Degree Type is required!
                            </p>
                        </ng-container>
                    </div>
                    <hr>
                    <button nbButton nbStepperNext [disabled]="!formOne.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Field Of Study">
                <form #form2="ngForm" class="step-container">
                    <p class="lorem">
                        What did you study?
                    </p>
                    <div class="input-group">
                        <input nbInput type="text" fullWidth placeholder="Eg. Computer Engineering" class="form-control"
                            #field_of_study [(ngModel)]="education.field_of_study" required
                            [status]="field_of_study.dirty ? (field_of_study.invalid  ? 'danger' : 'success') : ''"
                            name="field">
                        <ng-container *ngIf="field_of_study.field_of_study && field_of_study.touched">
                            <p class="caption status-danger" *ngIf="field_of_study.errors?.required">
                                Field Of Study is required!
                            </p>
                        </ng-container>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form2.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Institute">
                <form #form3="ngForm" class="step-container">
                    <p class="lorem">
                        Where did you receive?
                    </p>
                    <div class="input-group">
                        <input nbInput type="text" fullWidth placeholder="Eg. HiLCOE" class="form-control" #institute
                            [(ngModel)]="education.institute" required
                            [status]="institute.dirty ? (institute.invalid  ? 'danger' : 'success') : ''"
                            name="institute">
                        <ng-container *ngIf="institute.invalid && institute.touched">
                            <p class="caption status-danger" *ngIf="institute.errors?.required">
                                Institiute is required!
                            </p>
                        </ng-container>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button> &nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form3.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="How Long">
                <form #form4="ngForm" class="step-container">
                    <p class="lorem">
                        How long did it take you?
                    </p>
                    <div class="row">
                        <div class="col input-group">
                            <label for="from">From</label>
                            <input nbInput type="date" placeholder="Eg. BSc" class="form-control" #from
                                [(ngModel)]="education.from" required
                                [status]="from.dirty ? (from.invalid  ? 'danger' : 'success') : ''" name="from">
                            <ng-container *ngIf="from.invalid && from.touched">
                                <p class="caption status-danger" *ngIf="from.errors?.required">
                                    Date is required!
                                </p>
                            </ng-container>
                        </div>
                        <div class="col input-group">
                            <label for="to">To</label>
                            <input nbInput type="date" placeholder="Eg. BSc" class="form-control" #to
                                [(ngModel)]="education.to" required
                                [status]="to.dirty ? (to.invalid  ? 'danger' : 'success') : ''" name="to">
                            <ng-container *ngIf="to.invalid && to.touched">
                                <p class="caption status-danger" *ngIf="to.errors?.required">
                                    Date is required!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button (click)="submitEducation()" nbButton nbStepperNext
                        [disabled]="!form4.valid">Confirm</button>
                </form>
            </nb-step>
            <nb-step [hidden]="true">
                <div class="step-container">
                    <h3>Wizard completed!</h3>
                    <div *ngIf="!isDone">
                        <button nbButton (click)="resetEducation();stepper.reset()">Add Education</button>&nbsp;&nbsp;
                        <button nbButton (click)="done()">Done</button>
                    </div>
                </div>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>