<a *ngIf="isUser()" [routerLink]="['/pages/dashboard']"><strong>Back To Dashboard</strong></a>
<a *ngIf="isSuperAdmin()" [routerLink]="['/pages/super-admin-page']"><strong>Back To Admins </strong></a>

<div class="col-md-10 offset-md-2">

  <nb-alert *ngIf="successMessage" status="success" role="alert">
    <p class="alert-title text-center"><b>{{successMessage}}</b></p>
  </nb-alert>
  <nb-alert *ngIf="errorMessage[0]" status="danger" role="alert">
    <p class="alert-title text-center" *ngFor="let error of errorMessage"><b>{{error}}</b></p>
  </nb-alert>

  <div class="row">
    <div class="setting-image">
      <!-- <div class="image">
      </div> -->
      <img class="image" src="assets/images/person.png" alt="">
      <nb-icon class="icon" icon="camera" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
    </div>

    <div>
      <strong>General Setting</strong> <br><br>
      <nb-accordion>
        <nb-accordion-item disabled="true">
          <nb-accordion-item-header>
            <span class="accordion-header">Notifications</span>
            <label class="switch">
              <input class="switch-input" type="checkbox" />
              <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span>
            </label>
          </nb-accordion-item-header>
        </nb-accordion-item>
      </nb-accordion> <br><br>

      <form role="form" (ngSubmit)="updateUser()" #form="ngForm">
      <strong>Account Setting</strong> <br><br>
      <nb-accordion multi>
        <nb-accordion-item disabled="true">
          <nb-accordion-item-header>
            <span class="accordion-header">Edit FirstName</span>
            <input class="accordion-input" fieldSize="small" type="text" nbInput status="primary"
              placeholder="First Name" [(ngModel)]="selectedUser.firstName" name="firstName">
          </nb-accordion-item-header>
        </nb-accordion-item>

        <nb-accordion-item disabled="true">
          <nb-accordion-item-header>
            <span class="accordion-header">Edit LastName</span>
            <input class="accordion-input" fieldSize="small" type="text" nbInput status="primary"
              placeholder="Last Name" [(ngModel)]="selectedUser.lastName" name="lastName">
          </nb-accordion-item-header>
        </nb-accordion-item>

        <nb-accordion-item disabled="true">
          <nb-accordion-item-header>
            <span class="accordion-header">Edit Phone No</span>
            <input class="accordion-input" fieldSize="small" type="text" nbInput status="primary"
              [(ngModel)]="selectedUser.phoneNumber" placeholder="Phone Number" name="phoneNumber">
          </nb-accordion-item-header>
        </nb-accordion-item>

        <nb-accordion-item disabled="true">
          <nb-accordion-item-header>
            <span class="accordion-header">Edit Email Adr</span>
            <input class="accordion-input" fieldSize="small" type="text" nbInput status="primary"
              [(ngModel)]="selectedUser.email" placeholder="email" name="email">
          </nb-accordion-item-header>
        </nb-accordion-item>

        <nb-accordion-item expanded="true">
          <nb-accordion-item-header>
            Change Password
          </nb-accordion-item-header>
          <nb-accordion-item-body>

            <input type="text" nbInput fieldSize="small" status="primary" name="oldPassword"
              placeholder="Old password">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" nbInput fieldSize="small" status="primary" name="password"
              [(ngModel)]="selectedUser.password" placeholder="New passowrd">&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" nbButton size="small" status="primary">Submit</button>

          </nb-accordion-item-body>
        </nb-accordion-item>


        <!-- <nb-accordion-item>
          <nb-accordion-item-header>
            Delete Account
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <p>Deleting your account will destroy all your saved data. Your data can not be restored. </p>
            <form class="form-inline">
              <input type="text" nbInput fieldSize="small" status="primary" placeholder="Current Password">&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" nbButton size="small" status="danger">Delete</button>
            </form>
            <hr>
          </nb-accordion-item-body>
        </nb-accordion-item> -->

      </nb-accordion>
      </form>
    </div>
  </div>
</div>