<nb-card>
    <nb-card-body>
        <nb-stepper #stepper disableStepNavigation>
            <nb-step label="Job Title">
                <form #form2="ngForm" class="step-container">
                    <p class="lorem">
                        What was you job title?
                    </p>
                    <div class="input-group">
                        <input nbInput fullWidth type="text" placeholder="Eg. Computer Engineer" class="form-control" #job_title
                            [(ngModel)]="work.job_title" required
                            [status]="job_title.dirty ? (job_title.invalid  ? 'danger' : 'success') : ''" name="field">
                        <ng-container *ngIf="job_title.job_title && job_title.touched">
                            <p class="caption status-danger" *ngIf="job_title.errors?.required">
                                Job Title is required!
                            </p>
                        </ng-container>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form2.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Employer">
                <form #form3="ngForm" class="step-container">
                    <p class="lorem">
                        Who was your employer?
                    </p>
                    <div class="input-group">
                        <input nbInput fullWidth type="text" placeholder="Eg. EthioTelecom" class="form-control" #employer
                            [(ngModel)]="work.employer" required
                            [status]="employer.dirty ? (employer.invalid  ? 'danger' : 'success') : ''" name="employer">
                        <ng-container *ngIf="employer.invalid && employer.touched">
                            <p class="caption status-danger" *ngIf="employer.errors?.required">
                                Employer is required!
                            </p>
                        </ng-container>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button> &nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form3.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Duration">
                <form #form4="ngForm" class="step-container">
                    <p class="lorem">
                        How long did it take you?
                    </p>

                    <div class="row">
                        <div class="col input-group">
                            <label for="from">From</label>
                            <input nbInput type="date" placeholder="Eg. BSc" class="form-control" #from
                                [(ngModel)]="work.from" required
                                [status]="from.dirty ? (from.invalid  ? 'danger' : 'success') : ''" name="from">
                            <ng-container *ngIf="from.invalid && from.touched">
                                <p class="caption status-danger" *ngIf="from.errors?.required">
                                    Date is required!
                                </p>
                            </ng-container>
                        </div>
                        <div class="col input-group">
                            <label for="to">To</label>
                            <input nbInput type="date" placeholder="Eg. BSc" class="form-control" #to
                                [(ngModel)]="work.to" required
                                [status]="to.dirty ? (to.invalid  ? 'danger' : 'success') : ''" name="to">
                            <ng-container *ngIf="to.invalid && to.touched">
                                <p class="caption status-danger" *ngIf="to.errors?.required">
                                    Date is required!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <hr>
                    <button nbButton nbStepperPrevious>prev</button>&nbsp;&nbsp;
                    <button nbButton nbStepperNext [disabled]="!form4.valid">next</button>
                </form>
            </nb-step>
            <nb-step label="Description">
                <form #formOne="ngForm" class="step-container">
                    <p class="lorem">
                        What was your duty? (3-4 sentences)
                    </p>
                    <div class="input-group">
                        <textarea nbInput rows="5" fullWidth type="text" placeholder="Eg. Worked with teams to solve problems on..."
                            class="form-control" #description [(ngModel)]="work.description" required
                            [status]="description.dirty ? (description.invalid  ? 'danger' : 'success') : ''"
                            name="type">
                            </textarea>
                        <ng-container *ngIf="description.invalid && description.touched">
                            <p class="caption status-danger" *ngIf="description.errors?.required">
                                Description is required!
                            </p>
                        </ng-container>
                    </div>
                    <hr>
                    <button (click)="submitWork()" nbButton nbStepperNext [disabled]="!formOne.valid">Confirm</button>
                </form>
            </nb-step>
            <nb-step [hidden]="true">
                <div class="step-container">
                    <h3>Wizard completed!</h3>
                    <div *ngIf="!isDone">
                        <button nbButton (click)="resetWork();stepper.reset()">Add Work</button>&nbsp;&nbsp;
                        <button nbButton (click)="done()">Done</button>
                    </div>
                </div>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>