<p class="text-center text-primary"><b>Achievement</b></p>

<div *ngIf="type === 'view'">
    <div class="row">
        <div class="col ">
            <nb-card>
                <nb-card-body>
                    <acheivement-table [type]="type" [acheivementList]="acheivementSection.uploaded">
                    </acheivement-table>
                </nb-card-body>
                <button fullWidth nbButton outline status="primary" *ngIf="isUser()"
                    (click)="selectList(acheivementSection.uploaded)">
                    Edit
                </button>
            </nb-card>
        </div>
        <div class="recommend col d-flex justify-self-strech">
            <nb-card>
                <nb-card-body>
                    <acheivement-table *ngIf="acheivementSection.recommended[0]" [type]="type"
                        [acheivementList]="acheivementSection.recommended"></acheivement-table>
                    <p *ngIf="!acheivementSection.recommended[0]">No Recommdendation Given!</p>
                </nb-card-body>
                <div *ngIf="isAdmin()">
                    <button fullWidth nbButton outline status="primary" *ngIf="acheivementSection.recommended[0]"
                        (click)="selectList(acheivementSection.recommended)">
                        Edit
                    </button>
                    <button fullWidth nbButton outline status="primary" *ngIf="!acheivementSection.recommended[0]"
                        (click)="selectList(acheivementSection.uploaded)">
                        Add
                    </button>
                </div>
            </nb-card>
        </div>
    </div>
    <div class="row" *ngIf="isUser()">
        <!-- <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="keep()">
                    Keep
                </button>
            </p>
        </div> -->
        <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="replace()" [disabled]="!acheivementSection.recommended[0]">
                    Replace
                </button>
            </p>
        </div>
    </div>
</div>


<div *ngIf="type === 'edit'">
    <div class="row">
        <div class="col-lg-5 offset-md-3">
            <nb-card>
                <nb-card-body>
                    <acheivement-table [type]="type" [acheivementList]="selectedAcheivementList" (onCancel)="type = 'view'"
                        (onSave)="saveAcheivementList($event)">
                    </acheivement-table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>