.ellipse {
    width: 53px;
    height: 53px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f5f5f5;
    background-color: #3777e5;
    border-radius: 8rem;
    margin-left: 30px;
    position: relative;
}
.text-number{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #3777e5;
}
/* p{
    font-size: 20px;
} */