<!-- <div class="offset-md-2">
  <div class="row">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-md-5">
            <div class="ellipse">
              1
            </div>
            <p>Make sure your CV is properly sectioned</p>
          </div>
          <div class="col-md-5 offset-md-1">
            <div class="ellipse">
              1
            </div>
            <p>Upload your CV in a .pdf file format</p>
          </div>
          <div class="col-md-5 offset-md-1">
            <div class="ellipse">
              1
            </div>
            <p>Choose Template</p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
</div>
</div> -->
<br>
<nb-card class="col-md-10 col-lg-10 col-xxxl-10 offset-md-1">
  <nb-card-body>
    <nb-card-body>
      <div class="row container">
        <div class="col">
          <div class="ellipse">
            <div class="text-number"><strong>1</strong></div>
          </div><br>
          <p>Make sure your CV is properly sectioned</p>
          <a [routerLink]="['/pages/cv-tip/tip']">See Sections</a>
        </div>
        <div class="col">
          <div class="ellipse">
            <div class="text-number"><strong>2</strong></div>
          </div><br>
          <p>Upload your CV in a .pdf file format</p>
        </div>
        <div class="col">
          <div class="ellipse">
            <div class="text-number"><strong>3</strong></div>
          </div><br>
          <p>Choose Template</p>
        </div>
      </div>
      <hr class="divider my-4" />
      <div class="row col-md-6 offset-md-3">
        <p>You will get an email, and a notification through
          the app, when your CV recommendation is ready</p>
      </div><br><br>
      <div class=" col-md-6 offset-md-3">
        <p>Your CVs will be kept in your CV History</p>
        <a [routerLink]="['/pages/cv-history/cv-list']">See CV History</a>
      </div><br><br>
      <div class=" col-md-6 offset-md-3">
        <p>You can view all templates you can use for your CV.</p>
        <a [routerLink]="">See Templates</a>
      </div>
    </nb-card-body>
  </nb-card-body>
</nb-card>