<br>
<nb-alert *ngIf="successMessage" outline="success" role="alert">
  <p class="alert-title text-center"><b>{{successMessage}}</b></p>
</nb-alert>
<nb-alert *ngIf="errorMessage" outline="danger" role="alert">
  <p class="alert-title text-center"><b>{{errorMessage}}</b></p>
</nb-alert>
<div class="row" *ngIf="!hasUploaded">
  <div class="col-md-2 offset-md-1">
    <nb-card>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let menu of menues" (click)="changeForm(menu)">
            {{ menu }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-8 offset-md-1">
    <education *ngIf="view === 'Education'" (onAddEducation)="onAddEducation($event)"></education>
    <personal *ngIf="view === 'Personal Detail'" (onAddPersonal)="onAddPersonal($event)"></personal>
    <work *ngIf="view === 'Work Experiance'" (onAddWork)="onAddWork($event)"></work>
    <acheivement *ngIf="view === 'Achievement'" (onAddAcheivement)="onAddAcheivement($event)"></acheivement>
    <skill *ngIf="view === 'Skill'" (onAddSkill)="onAddSkill($event)"></skill>
    <reference *ngIf="view === 'Reference'" (onAddReference)="onAddReference($event)"></reference>
  </div>
</div>

<h5 *ngIf="hasUploaded" class="text-center">You Have Uploaded Your CV!</h5>
<button style="float: right;" nbButton status="primary" *ngIf="!hasUploaded" (click)="submitForm()" [disabled]="!readyToSend()">Submit Form</button>