.ellipse .icon{
    font-size: 5em;
    color: #3777e5;
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 50px;
}
nb-card-body h3,p{
    text-align: center;
}
.uploadBtn {
    margin-left: 370px;
    margin-top: 50px;
}