<div class="row">
    <div class="col offset-md-1">
        <!-- <nb-icon icon="arrow-ios-back" [options]="{ animation: { type: 'zoom' } }"
                style="font-size: 5.5em;color: #3777e5;"></nb-icon> -->
        <img src="assets/images/Group 983.png" alt="">
        <nb-icon icon="arrow-ios-forward" [options]="{ animation: { type: 'zoom' } }" (click)="nextTip()"
                style="font-size: 5.5em;color: #3777e5;float: right;margin-top: 110px;"></nb-icon>
    </div>
</div>
<div class="offset-md-6">
    <h6 class="text-primary">Make it keyword friendly</h6><br>
    <p style="text-align: justify;text-justify: inter-word;">
        If you’ve uploaded your CV to a job site so recruiters can find you, keywords are very important. Job titles and job buzzwords will help a search engine pick out your CV from the pile. Confused? Don’t be. A marketing candidate might mention SEO (Search Engine Optimization), direct marketing and digital marketing among their experience and skills, for example… If you’re not sure, have a search online and see what words are commonly mentioned when you input your job title.
    </p>
</div>