nb-card-body h6,p{
    text-align: center;
}
.photoAnchor{
    margin-left: 290px;
}
.uploadBtn {
    margin-left: 360px;
    margin-top: 50px;
}
.ellipse .icon{
    font-size: 5em;
    color: #3777e5;
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 50px;
}