<br>
<div class="col-md-8 offset-md-2" style="padding-bottom: 100px;">
  <nb-alert *ngIf="successMessage" outline="success" role="alert">
    <p class="alert-title text-center"><b>{{successMessage}}</b></p>
  </nb-alert>
  <nb-alert *ngIf="errorMessage" outline="danger" role="alert">
    <p class="alert-title text-center"><b>{{errorMessage}}</b></p>
  </nb-alert>
  <nb-card>
    <nb-card-body>
      <div class="ellipse">
        <nb-icon class="icon" icon="image-2" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
      </div>
      <h6>The photo section will be left blank!</h6>
      <p>Photos make your CV standout</p>

      <input style="display: none" type="file" id="file" accept="image/x-png,image/jpg" (change)="handleFileInput($event)" #hiddenfileinput>
      <button class="uploadBtn" nbButton hero shape="round" *ngIf="!changePhoto"
      (click)="hiddenfileinput.click()" size="large" status="primary">
        Upload Photo
      </button><br><br>

      <button class="uploadBtn" nbButton hero shape="round" *ngIf="changePhoto"
      (click)="hiddenfileinput.click()" size="large" status="primary">
        Change Photo
      </button><br><br>
      <!-- <a class="photoAnchor" (click)="open(dialog)"><strong style="margin-left: 60px;">Continue without photo</strong></a> -->
    </nb-card-body>
  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Done</nb-card-header>
    <nb-card-body>
      <h6>{{ data }}</h6>
      <p>Our team will get back to you soon</p>
    </nb-card-body>
    <nb-card-footer>
      <button style="float: right;" nbButton size="small" (click)="ref.close()">Close</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- <a [routerLink]="['/pages/upload-cv/choose-template']">
  <nb-icon icon="arrowhead-left" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 1.5em;color: #3777e5;"></nb-icon>
  <strong>Change Template</strong></a> -->