.icon{
    font-size: 5em;
    color: #3777e5;
  }
  .swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
  
  }
  h3, p{
    text-align: center
  }
  .uploadPhotoBtn{
    margin-left: 80px;
  }