<h3>Choose Template</h3>
<div class="row justify-content-center">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-card col">
          <nb-icon icon="arrow-ios-back" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 5.5em;color: #3777e5;"></nb-icon>
          <img src="../../../../assets/images/3970083.png" srcset="../../../../assets/images/3970083@2x.png 2x,
     ../../../../assets/images/3970083@3x.png 3x" class="layer">
        </div>
      </div>
      <div class="swiper-slide">
        <div class=" image-card col">
          <img src="../../../../assets/images/1092.png" srcset="../../../../assets/images/1092@2x.png 2x,
     ../../../../assets/images/1092@3x.png 3x" class="layer">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="image-card col">
          <img src="../../../../assets/images/4009438.png"
            srcset="../../../../assets/images/4009438@2x.png 2x,../../../../assets/images/4009438@3x.png 3x" class="layer">
        </div>
      </div>

      <div class="swiper-slide">
        <div class=" image-card col">
          <img src="../../../../assets/images/OTBT2R0.png" srcset="../../../../assets/images/OTBT2R0@2x.png 2x,
     ../../../../assets/images/OTBT2R0@3x.png 3x" class="OTBT2R0">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="image-card col">
          <img src="../../../../assets/images/308715-P8CXSF-650.png" srcset="../../../../assets/images/308715-P8CXSF-650@2x.png 2x,
      ../../../../assets/images/308715-P8CXSF-650@3x.png 3x" class="-P8CXSF-650">
          <nb-icon class="icon" icon="arrow-ios-forward" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div>
    <button nbButton hero shape="round" size="large" status="primary" [routerLink]="['/pages/upload-cv/generate-template', 'latest', 'view']" [disabled]="!hasUploaded">
      Select
    </button>
  </div>
</div>

<a [routerLink]="['/pages/upload-cv/file-upload']" *ngIf="!hasUploaded">
  <nb-icon icon="arrowhead-left" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 1.5em;color: #3777e5;"></nb-icon>
  <strong>Create CV</strong></a>