<nb-card>
    <nb-card-body>
        <nb-stepper #stepper disableStepNavigation>
            <nb-step label="Acheivement">
                <form #formOne="ngForm" class="step-container">
                    <p class="lorem">
                        What are your acheivements?
                        <nb-icon icon="plus-square" [options]="{ animation: { type: 'zoom' } }"
                            (click)="addAcheivement()" style="font-size: 2em;color: #3777e5; float: right;"></nb-icon>
                    </p>
                    <div class="row" *ngFor="let s of Arr; let i=index">
                        <div class="input-group">
                            <textarea nbInput type="text" fullWidth rows="5"
                                placeholder="State your certification, publications and scholarships..."
                                class="form-control" [(ngModel)]="acheivement[i]" required name="achieve"></textarea><br><br>
                        </div>
                    </div>
                    <hr>
                    <button (click)="submitAcheivement()" nbButton nbStepperNext [disabled]="!formOne.valid">Confirm</button>
                </form>
            </nb-step>
            <nb-step [hidden]="true">
                <div class="step-container">
                    <h3>Wizard completed!</h3>
                    <!-- <button nbButton (click)="resetEducation();stepper.reset()">Add Education</button> -->
                </div>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>