<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img src="../../../../assets/images/logo.jpg" width="180" height="50"></a>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
  <ngx-layout-direction-switcher class="direction-switcher"></ngx-layout-direction-switcher> -->
</div>



<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline" nbPopover="You're notifications will appear here." nbPopoverPlacement="bottom"></nb-action>
    <nb-action class="user-action" *ngIf="isAuthenticated()">
      <!-- <nb-action class="user-action"> -->
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="getName()"
               [picture]="user?.picture"
               nbContextMenuTag="my-context-menu">
      </nb-user>
    </nb-action>
  </nb-actions>
  <div *ngIf="!isAuthenticated()">
    <a [routerLink]="['/auth/login']">Login</a> &nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/auth/register']" nbButton hero shape="round" size="small" status="primary">
      Sign Up</a>
  </div>
</div>
<!-- <ng-template #templateRef>
  <nb-icon icon="bell-outline" status="basic" style="font-size: 150px; margin-left: 20px;color: #8f9bb3;"></nb-icon><br>
  You're notifications will appear here.
</ng-template> -->

