<p class="text-center text-primary"><b>Personal Information</b></p>

<div *ngIf="type === 'view'">
    <div class="row">
        <div class="col ">
            <nb-card>
                <nb-card-body>
                    <personal-table [type]="type" [personal]="personalSection.uploaded">
                    </personal-table>
                </nb-card-body>
                <button fullWidth nbButton outline status="primary" *ngIf="isUser()"
                    (click)="selectList(personalSection.uploaded)">
                    Edit
                </button>
            </nb-card>
        </div>
        <div class="recommend col d-flex justify-self-strech">
            <nb-card>
                <nb-card-body>
                    <personal-table *ngIf="!isArray(personalSection.recommended)" [type]="type"
                        [personal]="personalSection.recommended"></personal-table>
                    <p *ngIf="isArray(personalSection.recommended)">No Recommdendation Given!</p>
                </nb-card-body>
                <div *ngIf="isAdmin()">
                    <button fullWidth nbButton outline status="primary" *ngIf="!isArray(personalSection.recommended)"
                        (click)="selectList(personalSection.recommended)">
                        Edit
                    </button>
                    <button fullWidth nbButton outline status="primary" *ngIf="isArray(personalSection.recommended)"
                        (click)="selectList(personalSection.uploaded)">
                        Add
                    </button>
                </div>
            </nb-card>
        </div>
    </div>
    <div class="row" *ngIf="isUser()">
        <!-- <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="keep()">
                    Keep
                </button>
            </p>
        </div> -->
        <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="replace()" [disabled]="isArray(personalSection.recommended)">
                    Replace
                </button>
            </p>
        </div>
    </div>
</div>


<div *ngIf="type === 'edit'">
    <div class="row">
        <div class="col-lg-5 offset-md-3">
            <nb-card>
                <nb-card-body>
                    <personal-table [type]="type" [personal]="selectedPersonal" (onCancel)="type = 'view'"
                        (onSave)="savePersonal($event)">
                    </personal-table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>