<div *ngFor="let work of workList">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Duration</th>
                <th scope="row" *ngIf="type === 'view'">{{work.from}} - {{work.to}}</th>
                <th scope="row" *ngIf="type === 'edit' && isUser()">
                    <input nbInput type="text" class="form-control" #type [(ngModel)]="work.from" name="degree">
                    <input nbInput type="text" class="form-control" #type [(ngModel)]="work.to" name="degree">
                </th>
                <th scope="row" *ngIf="type === 'edit' && !isUser()">
                    <input nbInput type="text" disabled class="form-control" #type [(ngModel)]="work.from" name="degree">
                    <input nbInput type="text" disabled class="form-control" #type [(ngModel)]="work.to" name="degree">
                </th>
            </tr>
            
            <tr>
                <th>Position</th>
                <th scope="row" *ngIf="type === 'view'">{{work.job_title}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input nbInput type="text" class="form-control" #type [(ngModel)]="work.job_title"
                        name="job_title">
                </th>
            </tr>
            <tr>
                <th>Company</th>
                <th scope="row" *ngIf="type === 'view'">{{work.employer}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <input nbInput type="text" class="form-control" #type [(ngModel)]="work.employer" name="employer">
                </th>
            </tr>
            <tr>
                <th>Description</th>
                <th scope="row" *ngIf="type === 'view'">{{work.description}}</th>
                <th scope="row" *ngIf="type === 'edit'">
                    <textarea maxlength="100" nbInput rows="5" type="text" class="form-control" #type [(ngModel)]="work.description" name="description"></textarea>
                </th>
            </tr>
            
        </tbody>
    </table>
    <hr class="my-4" />
</div>


<div *ngIf="type === 'edit'">
    <button fullWidth nbButton outline status="primary" (click)="save()">
        Save
    </button>
    <button fullWidth nbButton outline status="primary" (click)="cancel()">
        Cancel
    </button>
</div>