<br><br>
<div class="row">
    <div class="col-md-2">
        <nb-icon icon="arrow-ios-back" [options]="{ animation: { type: 'zoom' } }" (click)="previousTip()"
        style="font-size: 5.5em;color: #3777e5;margin-top: 36px;"></nb-icon>
    </div>
    <div class="col">
        <img src="assets/images/Group 982.png" alt="">
    </div>
    <div class="col" style=" margin-top: 100px;">
        <h6 class="text-primary">The maths</h6><br>
        <p style="text-align: justify;text-justify: inter-word;">
            This may sound dull but by backing up your achievements with numbers it makes selling yourself much easier. When writing your work history, don’t just say that you increased sales; tell them you increased sales by 70% over a six month period. Get it? Big numbers are especially good.
        </p>
    </div>
    <!-- <div class="col">
        <nb-icon icon="arrow-ios-forward" [options]="{ animation: { type: 'zoom' } }" (click)="nextTip()"
        style="font-size: 5.5em;color: #3777e5;float: right;"></nb-icon>
    </div> -->
</div>