<div class="offset-md-2">
  <nb-alert *ngIf="successMessage" outline="success" role="alert">
    <p class="alert-title text-center"><b>{{successMessage}}</b></p>
  </nb-alert>
  <nb-alert *ngIf="errorMessage[0]" outline="danger" role="alert">
    <p class="alert-title text-center" *ngFor="let error of errorMessage"><b>{{error}}</b></p>
  </nb-alert>
  <!-- <button style="float: right;" nbButton status="primary" (click)="open(addSectionModal)">
    Add Section
  </button> -->
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <!-- <th scope="col">Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let section of sectionList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{section.name}}</td>
        <td>{{section.category}}</td>
        <!-- <td (click)="selectCvSection(section);open(deleteSectionModal)"> <i class="nb-trash"></i></td> -->
      </tr>
    </tbody>
  </table>
</div>

<!-- <ng-template #addSectionModal let-data let-ref="dialogRef">
  <nb-card class="modal">
    <nb-card-header>Add Section</nb-card-header>
    <nb-card-body>
        <form role="form" (ngSubmit)="onNewCvSectionAdded();ref.close();" #form="ngForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="label">Name</label>
                        <input type="text" nbInput fullWidth id="title" [(ngModel)]="newSection.name"
                            placeholder="title" required name="title">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="category" class="label">Category</label>
                        <input type="text" nbInput fullWidth id="category" [(ngModel)]="newSection.category"
                            placeholder="category" required name="category">
                    </div>
                </div>
            </div>
            <hr>
            <br>
            <button nbButton class=" btn" type="submit" [disabled]="!form.valid">Save</button>
            <button nbButton class=" btn btn-link ml-auto" style="float: right;" data-dismiss="modal" type="button"
                (click)="ref.close()">
                Close
            </button>
        </form>
    </nb-card-body>
</nb-card>
</ng-template>

<ng-template #deleteSectionModal let-data let-ref="dialogRef">
  <nb-card status="danger">
    <nb-card-header>Delete section</nb-card-header>
    <nb-card-body>Are you sure you want to delete this section?</nb-card-body>
    <nb-card-footer>
      <button nbButton size="small" status="danger" (click)="deleteCvSection();ref.close()">Delete</button>
      <button style="float: right;" nbButton size="small" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template> -->