<p class="text-center text-primary"><b>Reference Experience</b></p>

<div *ngIf="type === 'view'">
    <div class="row">
        <div class="col ">
            <nb-card>
                <nb-card-body>
                    <reference-table [type]="type" [referenceList]="referenceSection.uploaded">
                    </reference-table>
                </nb-card-body>
                <button fullWidth nbButton outline status="primary" *ngIf="isUser()"
                    (click)="selectList(referenceSection.uploaded)">
                    Edit
                </button>
            </nb-card>
        </div>
        <div class=" recommend col d-flex justify-self-strech">
            <nb-card>
                <nb-card-body>
                    <reference-table *ngIf="referenceSection.recommended[0]" [type]="type"
                        [referenceList]="referenceSection.recommended"></reference-table>
                    <p *ngIf="!referenceSection.recommended[0]">No Recommdendation Given!</p>
                </nb-card-body>
                <div *ngIf="isAdmin()">
                    <button fullWidth nbButton outline status="primary" *ngIf="referenceSection.recommended[0]"
                        (click)="selectList(referenceSection.recommended)">
                        Edit
                    </button>
                    <button fullWidth nbButton outline status="primary" *ngIf="!referenceSection.recommended[0]"
                        (click)="selectList(referenceSection.uploaded)">
                        Add
                    </button>
                </div>
            </nb-card>
        </div>
    </div>
    <div class="row" *ngIf="isUser()">
        <!-- <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="keep()">
                    Keep
                </button>
            </p>
        </div> -->
        <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="replace()" [disabled]="!referenceSection.recommended[0]">
                    Replace
                </button>
            </p>
        </div>
    </div>
</div>


<div *ngIf="type === 'edit'">
    <div class="row">
        <div class="col-lg-5 offset-md-3">
            <nb-card>
                <nb-card-body>
                    <reference-table [type]="type" [referenceList]="selectedReferenceList" (onCancel)="type = 'view'"
                        (onSave)="saveReferenceList($event)">
                    </reference-table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>