<p class="text-center text-primary"><b>Work Experience</b></p>

<div *ngIf="type === 'view'">
    <div class="row">
        <div class="col ">
            <nb-card>
                <nb-card-body>
                    <work-table [type]="type" [workList]="workSection.uploaded">
                    </work-table>
                </nb-card-body>
                <button fullWidth nbButton outline status="primary" *ngIf="isUser()"
                    (click)="selectList(workSection.uploaded)">
                    Edit
                </button>
            </nb-card>
        </div>
        <div class=" recommend col d-flex justify-self-strech">
            <nb-card>
                <nb-card-body>
                    <work-table *ngIf="workSection.recommended[0]" [type]="type"
                        [workList]="workSection.recommended"></work-table>
                    <p *ngIf="!workSection.recommended[0]">No Recommdendation Given!</p>
                </nb-card-body>
                <div *ngIf="isAdmin()">
                    <button fullWidth nbButton outline status="primary" *ngIf="workSection.recommended[0]"
                        (click)="selectList(workSection.recommended)">
                        Edit
                    </button>
                    <button fullWidth nbButton outline status="primary" *ngIf="!workSection.recommended[0]"
                        (click)="selectList(workSection.uploaded)">
                        Add
                    </button>
                </div>
            </nb-card>
        </div>
    </div>
    <div class="row" *ngIf="isUser()">
        <!-- <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="keep()">
                    Keep
                </button>
            </p>
        </div> -->
        <div class="col">
            <p class="text-center">
                <button nbButton status="primary" (click)="replace()" [disabled]="!workSection.recommended[0]">
                    Replace
                </button>
            </p>
        </div>
    </div>
</div>


<div *ngIf="type === 'edit'">
    <div class="row">
        <div class="col-lg-5 offset-md-3">
            <nb-card>
                <nb-card-body>
                    <work-table [type]="type" [workList]="selectedWorkList" (onCancel)="type = 'view'"
                        (onSave)="saveWorkList($event)">
                    </work-table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>