<a [routerLink]="['/pages/admin-page/all-cv']">
  <nb-icon icon="arrowhead-left" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 1.5em;color: #3777e5;"></nb-icon>Cv Lists</a>

<nb-alert *ngIf="successMessage" outline="success" role="alert">
  <p class="alert-title text-center"><b>{{successMessage}}</b></p>
</nb-alert>
<nb-alert *ngIf="errorMessage" outline="danger" role="alert">
  <p class="alert-title text-center"><b>{{errorMessage}}</b></p>
</nb-alert>
<div class="row">
  <div class="col">
    <h6 class="text-center text-primary">Uploaded</h6>
  </div>
  <div class="col">
    <h6 class="text-center text-primary">Recommended</h6>
  </div>
</div>

<education-view *ngIf="educationSection" [educationSection]="educationSection" [cvId]="cvId"
  (onUpdateCv)="onUpdateCv($event)" (onUpdateRecommendation)="updateRecommendation($event)"
  (saveEducationVersion)="saveEducationVersion($event)"></education-view>
<hr>
<work-view *ngIf="workSection.name" [workSection]="workSection" [cvId]="cvId" (onUpdateCv)="onUpdateCv($event)"
  (onUpdateRecommendation)="updateRecommendation($event)" (saveWorkVersion)="saveWorkVersion($event)"></work-view>
<hr>
<personal-view *ngIf="personalSection.name" [personalSection]="personalSection" [cvId]="cvId"
  (onUpdateCv)="onUpdateCv($event)" (onUpdateRecommendation)="updateRecommendation($event)"
  (savePersonalVersion)="savePersonalVersion($event)"></personal-view>
<hr>
<skill-view *ngIf="skillSection.name" [skillSection]="skillSection" [cvId]="cvId" (onUpdateCv)="onUpdateCv($event)"
  (onUpdateRecommendation)="updateRecommendation($event)" (saveSkillVersion)="saveSkillVersion($event)"></skill-view>
<hr>
<acheivement-view *ngIf="acheivementSection.name" [acheivementSection]="acheivementSection" [cvId]="cvId"
  (onUpdateCv)="onUpdateCv($event)" (onUpdateRecommendation)="updateRecommendation($event)"
  (saveAcheivementVersion)="saveAcheivementVersion($event)"></acheivement-view>
<hr>
<reference-view *ngIf="referenceSection.name" [referenceSection]="referenceSection" [cvId]="cvId"
  (onUpdateCv)="onUpdateCv($event)" (onUpdateRecommendation)="updateRecommendation($event)"
  (saveReferenceVersion)="saveReferenceVersion($event)"></reference-view>

<p class="text-center">
  <button nbButton status="primary" (click)="open(sendEmailModal)">
    Save N Send
  </button>
</p>

<ng-template #sendEmailModal let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Send Email</nb-card-header>
    <nb-card-body>Are you done with all your recommendations? After sending an email you won't be able to recommend again!</nb-card-body>
    <nb-card-footer>
      <button nbButton size="small" status="success" (click)="sendEmail();ref.close()">Send Email</button>
      <button style="float: right;" nbButton size="small" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>