<a [routerLink]="['/pages/dashboard']">Dashboard</a> 
<hr class="divider my-4" />
  <br><br>
  <div class="col-md-8 offset-md-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Version</th>
          <th scope="col">Date</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody *ngIf="latestCv[0]">
        <tr>
          <td>1</td>
          <td><a [routerLink]="['/pages/cv-history/cv-detail', latestCv[0]._id]">Latest</a></td>
          <td>{{latestCv[0]?.createdAt | timeAgo}}</td>
          <td><i class="nb-trash" (click)="open(deleteLatestModal)"></i></td>
        </tr>
        <tr *ngFor="let cv of cvList; let i=index">
          <th scope="row">{{i+2}}</th>
          <td><a [routerLink]="['/pages/upload-cv/generate-template', 'history',cv._id]">Version {{cv.version}}</a></td>
          <td>{{cv.createdAt | timeAgo}}</td>
          <td> <i class="nb-trash" (click)="selectHistory(cv);open(deleteHistoryModal)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #deleteHistoryModal let-data let-ref="dialogRef">
    <nb-card status="danger">
      <nb-card-header>Delete History</nb-card-header>
      <nb-card-body>Are you sure you want to delete this history?</nb-card-body>
      <nb-card-footer>
        <button nbButton size="small" status="danger" (click)="deleteHistory();ref.close()">Delete</button>
        <button style="float: right;" nbButton size="small" (click)="ref.close()">Cancel</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #deleteLatestModal let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Delete History</nb-card-header>
      <nb-card-body>You can't delete you latest version!</nb-card-body>
      <nb-card-footer>
        <button style="float: right;" nbButton size="small" (click)="ref.close()">Cancel</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  