.image {
    width: 150px;
    height: 150px;
    // background-image: url("assets/images/nick.png");
    border-radius: 50%;
    background-size: cover;
    // margin-left: 300px;
    box-shadow: 0 10px 10px 0 #c2ccda;
    // display: block;
  }
.left-bar{
    max-width: 50rem;
    border-width: 0.2rem;
    border-color: rgba(56, 101, 178, 0.65) !important;
}
.right-bar{
    max-width: 70rem;
    border-width: 0.2rem;
    border-color: #3865b2 !important;
}
.left-top-bar{
    max-width: 5rem !important;
    border-width: 0.2rem;
    border-color: #27529c !important;
}
.vl {
    border-left: 14px solid #3777e5;
    height: 1400px;
    border-width: 0.6rem;
  }