<a (click)="back()" class="text-primary">
    <nb-icon icon="arrowhead-left" [options]="{ animation: { type: 'zoom' } }" style="font-size: 1.5em;color: #3777e5;">
    </nb-icon>
    Back
</a>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <nb-card id="printThis">
            <nb-card-body>
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <img class="image" [src]=imageURL alt="">
                            <h6>{{userForm.personalInfo.first_name}} {{userForm.personalInfo.last_name}}</h6>
                            <p>{{userForm.personalInfo.application_job_title}}</p>
                            <hr class=" left-top-bar divider my-4" />
                        </div>

                        <div>
                            <b>DETAILS</b>
                            <hr class="left-bar divider my-4" />
                            <nb-list>
                                <nb-list-item>
                                    Location &nbsp; &nbsp; {{userForm.personalInfo.city}},
                                    {{userForm.personalInfo.country}}
                                </nb-list-item>
                                <nb-list-item>
                                    Date Of Birth &nbsp; &nbsp; {{userForm.personalInfo.birth_date}}
                                </nb-list-item>
                                <nb-list-item>
                                    Nationality &nbsp; &nbsp; {{userForm.personalInfo.nationality}}
                                </nb-list-item>
                            </nb-list> <br><br>
                            <b>CONTACT</b>
                            <hr class="left-bar divider my-4" />
                            <p class="text-primary">{{userForm.personalInfo.phone}}</p>
                            <p class="text-primary">{{userForm.personalInfo.email}}</p> <br><br>

                            <b>LINKS</b>
                            <hr class="left-bar divider my-4" />
                            <nb-list>
                                <nb-list-item *ngFor="let link of userForm.personalInfo.links">
                                    {{link.type}} <br>
                                    <span class="text-primary">{{link.link}}</span>
                                </nb-list-item>
                            </nb-list><br><br>

                            <b>REFERENCE</b>
                            <div *ngFor="let reference of userForm.reference">
                                <hr class="left-bar divider my-4" />
                                {{reference.first_name}} {{reference.last_name}} <br>
                                {{reference.profession}}, {{reference.company}}. <br>
                                {{reference.phone}} <br>
                                <span class="text-primary">{{reference.email}}</span><br>
                            </div>
                            <br><br>

                            <b>LANGUAGES</b>
                            <hr class="left-bar divider my-4" />
                            <nb-list>
                                <nb-list-item *ngFor="let language of userForm.skill.language">
                                    {{language.type}} &nbsp;&nbsp;
                                    <span class="text-primary">{{language.level}}</span>
                                </nb-list-item>
                            </nb-list>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="vl"></div>
                    </div>
                    <div class="col-md-7">
                        <p>{{userForm.personalInfo.personal_statement}}</p>
                        <br><br>
                        <b>EXPERIENCE</b>
                        <hr class="right-bar divider my-4" />
                        <div class="row" *ngFor="let work of userForm.work">
                            <div class="col">
                                {{work.from}}-{{work.to}}
                            </div>
                            <div class="col">
                                <span class="text-primary">{{work.job_title}}</span><br>
                                {{work.employer}}
                                <p>{{work.description}}</p>
                            </div>
                        </div>
                        <br><br>

                        <b>EDUCATION</b>
                        <hr class="right-bar divider my-4" />
                        <div class="row" *ngFor="let education of userForm.education">
                            <div class="col">
                                {{education.from}}-{{education.to}}
                            </div>
                            <div class="col">
                                <span class="text-primary">{{education.degree}}</span><br>
                                {{education.institute}}
                                <p>{{education.field_of_study}}</p>
                            </div>
                        </div>
                        <br><br>

                        <b>ACHIEVEMENTS</b>
                        <hr class="right-bar divider my-4" />
                        <div class="row">
                            <div class="col">
                                <p *ngFor="let achievement of userForm.achievement">{{achievement}}</p>
                            </div>
                        </div><br><br>

                        <b>HARD SKILLS</b>
                        <hr class="right-bar divider my-4" />
                        <div class="row">
                            <div class="col">
                                <p *ngFor="let hard_skill of userForm.skill.hard_skill">{{hard_skill}}</p>
                            </div>
                        </div><br><br>

                        <b>SOFT SKILLS</b>
                        <hr class="right-bar divider my-4" />
                        <div class="row">
                            <div class="col">
                                <p *ngFor="let soft_skill of userForm.skill.soft_skill">{{soft_skill}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>
        <p class="text-center">
            <button nbButton hero shape="round" status="primary" printSectionId="printThis" ngxPrint
                [useExistingCss]="true">
                Print | Export To PDF
            </button>
        </p>
    </div>
</div>