<div class="pull-right">
  <div class="btn-group" style="float: right;">
      <button *ngIf="paginatedData.first_page_url" type="button" class="btn btn-white btn-sm"
          (click)="goToLastPages(false)">
          First
      </button>
      <button *ngIf="paginatedData.prev_page_url" type="button" class="btn btn-white btn-sm"
          (click)="goToNextPage(-1)"><i class="fa fa-chevron-left"></i></button>
      <button class="btn btn-white  active">{{paginatedData.current_page + ' / ' +
      paginatedData.last_page}}
      </button>
      <button *ngIf="paginatedData.next_page_url" type="button" class="btn btn-white btn-sm"
          (click)="goToNextPage(1)"><i class="fa fa-chevron-right"></i></button>
      <button *ngIf="paginatedData.last_page_url" type="button" class="btn btn-white btn-sm"
          (click)="goToLastPages(true)">
          Last
      </button>
  </div>
  <div class=" col-md-1 input-group" style="float: right;">
          <select class=" form-control" data-toggle="select" id="selectr" [(ngModel)]="paginateSize"
              (change)="changePaginateSize()">
              <option value="" disabled selected>Items Per Page:</option>
              <option *ngFor="let option of paginateSizeOptions" [ngValue]="option"> {{option}} </option>
          </select>
  </div>
</div>