<!-- <div class="container col-lg-10">
  <div class="slideshow">
    <div class="slide">
      <img src="../../assets/images/4565.png" srcset="../../assets/images/4565@2x.png 2x, ../../assets/images/4565@3x.png 3x"
    class="swiper-image">
    </div>
    <div class="slide">
      <img src="../../assets/images/6671.png" srcset="../../assets/images/6671@2x.png 2x, ../../assets/images/6671@3x.png 3x"
     class="swiper-image">
    </div>
    <div class="slide">
      <img src="../../assets/images/3661727.png" srcset="../../assets/images/3661727@2x.png 2x,../../assets/images/3661727@3x.png 3x"
     class="swiper-image">
    </div>
    <div class="slide">
      <img src="../../assets/images/5239.png" srcset="../../assets/images/5239@2x.png 2x, ../../assets/images/5239@3x.png 3x"
     class="swiper-image">
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <ngx-user-side-bar style="position: fixed;"></ngx-user-side-bar>
    </div>
    <div class="col-lg-9">
      <!-- <div class="slideshow">
        <div class="slide">
          <img src="../../assets/images/4565@3x.png"
            srcset="../../assets/images/4565@2x.png 2x, ../../assets/images/4565@3x.png 3x" class="swiper-image">
        </div>
      </div> -->

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../../assets/images/new dashboard pic.png" class="swiper-image">
            <p><strong>Tip: Keep your CV real! Keep it punchy, to the point and save the little details for the interview.</strong></p>
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/3.png" class="swiper-image">
            <p><strong>Tip: Tailor your CV! Take the time to change your CV for each role that you apply for.   </strong></p>
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/2.png" class="swiper-image">
            <p><strong>Tip: Tell the truth! You don't want questions you can' answer at your interview.</strong></p>
          </div>
          <div class="swiper-slide">
            <img src="../../assets/images/1.png" class="swiper-image">
            <p><strong>Tip: Include numbers and keyword titles in your work history.</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container col-lg-10">
  <div class="slideshow">
    <div class="slide">
      <img src="../../assets/images/4565@3x.png"
        srcset="../../assets/images/4565@2x.png 2x, ../../assets/images/4565@3x.png 3x" class="swiper-image">
    </div>
  </div>
</div> -->