<h1 id="title" class="title">Create Your Free Account</h1>

<nb-alert *ngIf="successMessage" outline="success" role="alert">
  <p class="alert-title"><b>{{successMessage}}</b></p>
</nb-alert>
<nb-alert *ngIf="errorMessage" outline="danger" role="alert">
  <p class="alert-title"><b>{{errorMessage}}</b></p>
</nb-alert>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title" autocomplete="off">
  <div class="row">
    <div class="form-control-group col-lg-6">
      <label class="label" for="input-first-name">First Name:</label>
      <input nbInput [(ngModel)]="user.firstName" #firstName="ngModel" id="input-first-name" name="firstName"
        placeholder="First Name" fullWidth fieldSize="large"
        [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'success') : ''" required
        [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null">
      <ng-container *ngIf="firstName.invalid && firstName.touched">
        <p class="caption status-danger" *ngIf="firstName.errors?.required">
          First Name is required!
        </p>
      </ng-container>
    </div>
    <div class="form-control-group col-lg-6">
      <label class="label" for="input-last-name">Last Name:</label>
      <input nbInput [(ngModel)]="user.lastName" #lastName="ngModel" id="input-last-name" name="lastName"
        placeholder="Last Name" fullWidth fieldSize="large"
        [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : ''" required
        [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null">
      <ng-container *ngIf="lastName.invalid && lastName.touched">
        <p class="caption status-danger" *ngIf="lastName.errors?.required">
          Last Name is required!
        </p>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <!-- <div class="form-control-group col-lg-6">
      <label class="label" for="input-phoneNumber">Phone Number:</label>
      <input nbInput ng2TelInput id="input-phoneNumber" name="phoneNumber" autofocus fullWidth fieldSize="large"
        type="text" required [ng2TelInputOptions]="{initialCountry: 'in'}" (hasError)="hasError($event)"
        (ng2TelOutput)="getNumber($event)">
      <ng-container>
        <p class="caption status-danger" *ngIf="!phoneValid">
          Phone Number is incorrect!
        </p>
      </ng-container>
    </div> -->
    <div class="form-control-group col-lg-6">
      <label class="label" for="input-phoneNumber">Phone Number:</label>
      <input nbInput id="input-phoneNumber" placeholder="0911222222" name="phoneNumber" autofocus fullWidth fieldSize="large"
        type="text" required [(ngModel)]="user.phoneNumber">
      <ng-container>
        <p class="caption status-danger" *ngIf="!phoneValid">
          Phone Number is incorrect!
        </p>
      </ng-container>
    </div>

    <div class="form-control-group col-lg-6">
      <label class="label" for="input-email">Email address:</label>
      <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email" pattern=".+@.+..+"
        placeholder="Email address" fullWidth fieldSize="large" autocomplete="false"
        [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''" required
        [attr.aria-invalid]="email.invalid && email.touched ? true : null">
      <ng-container *ngIf="email.invalid && email.touched">
        <p class="caption status-danger" *ngIf="email.errors?.required">
          Email is required!
        </p>
        <p class="caption status-danger" *ngIf="email.errors?.pattern">
          Email should be the real one!
        </p>
      </ng-container>
    </div>
  </div>




  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input class="password-input" nbInput [(ngModel)]="user.password" #password="ngModel"
      type="password" id="input-password" name="password" placeholder="Password" fullWidth fieldSize="large"
      [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" required [minlength]="6"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null">

    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.required">
        Password is required!
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.minlength">
        Password should contain 6
        characters
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">Retype password:</label>
    <input nbInput [(ngModel)]="user.confirmPassword" #rePass="ngModel" type="password" id="input-re-password"
      name="rePass" placeholder="Confirm Password" fullWidth fieldSize="large"
      [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : ''" required
      [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
    <ng-container *ngIf="rePass.invalid && rePass.touched">
      <p class="caption status-danger" *ngIf="rePass.errors?.required">
        Password confirmation is required!
      </p>
      <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
        Password does not match the confirm password.
      </p>
    </ng-container>
  </div>

  <!-- <div class="form-control-group accept-group" *ngIf="getConfigValue('forms.register.terms')">
    <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
      Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
    </nb-checkbox>
  </div> -->
  <!-- <div class="form-control-group accept-group">
    <nb-checkbox name="terms" required>
      Agree to <a target="_blank"><strong>Terms & Conditions</strong></a>
    </nb-checkbox>
  </div> -->

  <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid || !phoneValid"
    [class.btn-pulse]="submitted">
    Register
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>