.make-impression{
    background-color:  #27529c;
    /* position: absolute; */
    left: 0;
    right: 0;
    /* top: inherit;
    bottom: unset; */
}
.icon{
  font-size: 5em;
  color: #3777e5;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;

}
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../../assets/images/Folder Logo - Big.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  header.masthead h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 3.5rem;
    }
  }
  hr.divider {
    max-width: 3.25rem !important;
    border-width: 0.2rem !important;
    border-color: #3777e5 !important;
  }
  .layout-body{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
  }
  
  