<nb-layout>
  <nb-layout-header fixed>
    <ngx-header></ngx-header>
  </nb-layout-header>

  <nb-layout-column class="layout-body">

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">Get all the help you need for compiling a
              professional CV</h1>
            <hr class="divider my-4" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white font-weight-light mb-5">We have professionals waiting to help you stand out with the
              perfect format.</p>
            <a [routerLink]="['/auth/login']" nbButton hero shape="round" size="giant" status="primary">
              Create Your CV
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- <div class="row">
      <div class="col-md-8">
        <div class="first" style="text-align: center; margin-top: 50px;">
          <h2>Get all the help you need for compiling a professional CV</h2>
          <p class="text-muted">We have professionals waiting to help you stand out with the perfect format.</p>
          <hr class="divider my-4" />
          <button nbButton hero shape="semi-round" size="giant" status="primary">
            Upload CV
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/Capture.png" srcset="../../assets/images/Capture@2x.png 2x,
      ../../assets/images/Capture@3x.png 3x" class="Capture">
      </div>
    </div> -->

    <div class="make-impression">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4" style="margin-top: 30px; margin-bottom: 30px;">
          <img src="../../assets/images/Capture2.png"
            srcset="../../assets/images/Capture2@2x.png 2x,../../assets/images/Capture2@3x.png 3x" class="Capture2">
        </div>
        <div class="col-md-6 text-center">
          <div class="second-second" style="margin-top: 70px;">
            <h3 class="text-white">Make an impression.</h3>
            <p class="text-white">Create a CV that gets you hired with the help of <br> our professional's
              recommendations on each section
              of your CV.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div style="margin-top: 50px;margin-left: 50px;">
        <h3>Presentation is key.</h3>
        <p class="text-muted">Visually engaging templates for your CV.</p>
      </div>
    </div>
    <hr class="divider my-4" />
    
    <div class="row justify-content-center">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-card col">
              <nb-icon icon="arrow-ios-back" [options]="{ animation: { type: 'zoom' } }"
                style="font-size: 5.5em;color: #3777e5;"></nb-icon>
              <img src="../../assets/images/3970083.png" srcset="../../assets/images/3970083@2x.png 2x,
         ../../assets/images/3970083@3x.png 3x" class="layer">
            </div>
          </div>
          <div class="swiper-slide">
            <div class=" image-card col">
              <img src="../../assets/images/1092.png" srcset="../../assets/images/1092@2x.png 2x,
         ../../assets/images/1092@3x.png 3x" class="layer">
            </div>
          </div>

          <div class="swiper-slide">
            <div class="image-card col">
              <img src="../../assets/images/4009438.png"
                srcset="../../assets/images/4009438@2x.png 2x,../../assets/images/4009438@3x.png 3x" class="layer">
            </div>
          </div>

          <div class="swiper-slide">
            <div class=" image-card col">
              <img src="../../assets/images/OTBT2R0.png" srcset="../../assets/images/OTBT2R0@2x.png 2x,
         ../../assets/images/OTBT2R0@3x.png 3x" class="OTBT2R0">
            </div>
          </div>

          <div class="swiper-slide">
            <div class="image-card col">
              <img src="../../assets/images/308715-P8CXSF-650.png" srcset="../../assets/images/308715-P8CXSF-650@2x.png 2x,
          ../../assets/images/308715-P8CXSF-650@3x.png 3x" class="-P8CXSF-650">
              <nb-icon class="icon" icon="arrow-ios-forward" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="row justify-content-center">
      <button [routerLink]="['/auth/login']" nbButton hero shape="round" size="large" status="primary">
        Select My CV
      </button>
    </div>

    <div class="container" style="background-color: white; margin-top: 30px;">
      <!-- <h2 class="text-center mt-0">At Your Service</h2> -->
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <nb-icon class="icon" icon="question-mark-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <h4 class="h4 mb-2" style="color: #3777e5;">Tips</h4>
            <p class="text-muted mb-0">Get professional tips and advices <br> on how to perfect your CV <br>
              writing skills from our team.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <nb-icon class="icon" icon="checkmark-square-2" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <h4 class="h4 mb-2" style="color: #3777e5;">Recommendations</h4>
            <p class="text-muted mb-0">Let our team help you with <br> improving your CV and <br> guarantee you a job
              position.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <nb-icon class="icon" icon="file-text" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <h4 class="h4 mb-2" style="color: #3777e5;">Templates</h4>
            <p class="text-muted mb-0">Use our visually captivating <br>templates for your CV to <br> make an
              impression.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <div class="mt-5">
            <nb-icon class="icon" icon="download" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <h4 class="h4 mb-2" style="color: #3777e5;">Export</h4>
            <p class="text-muted mb-0">You can export your CV to your <br> device or store it here for <br>
              future editing. </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
          <div class="mt-5">
            <nb-icon class="icon" icon="lock" [options]="{ animation: { type: 'pulse' } }">
            </nb-icon>
            <h4 class="h4 mb-2" style="color: #3777e5;">Privacy & Security</h4>
            <p class="text-muted mb-0">All your data will be kept private and secure and <br> always available for
              access <br> from multiple devices.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <a [routerLink]="['/auth/login']" nbButton hero shape="semi-round" size="large" status="primary">
          Get Started
        </a>
      </div>
    </div>

    <div class="row" style="margin-top: 50px">
      <div class="col-lg-6 text-center">
        <h3>Subscribe to our newsletter</h3>
        <p class="text-muted">Signup for our weekly newsletter to get the latest news, <br> updates and amazing offers
          delivered directly in your inbox.</p>
      </div>
      <div class="col-lg-4">
        <input type="text" nbInput fullWidth shape="semi-round" status="info" placeholder="Email"> <br> <br>
        <button nbButton hero shape="semi-round" size="small" status="primary">
          Subscribe
        </button>
      </div>
    </div>

  </nb-layout-column>
  <nb-layout-footer fixed>
    <ngx-home-footer></ngx-home-footer>
  </nb-layout-footer>
</nb-layout>