.image {
    width: 250px;
    height: 250px;
    // background-image: url("assets/images/nick.png");
    border-radius: 50%;
    background-size: cover;
    // margin-left: 300px;
    box-shadow: 0 10px 10px 0 #c2ccda;
    // display: block;
  }