<nb-card class="col-md-8 offset-md-2">
    <nb-card-body>
        <h4 class="text-center">CV Photo Tips</h4>
        <p><b>
                <nb-icon class="icon text-primary" icon="checkmark-circle" [options]="{ animation: { type: 'pulse' } }">
                </nb-icon>Keep facial expressions and hand gestures neutral
            </b></p>
        <p>No exaggerated bug-eyes, no fish puckering of the mouth, no squinting, no peace or gang signs</p>
            <br><br>
        <div class="row">
            <div class="col">
                <nb-icon icon="arrow-ios-back" [options]="{ animation: { type: 'zoom' } }" (click)="previousPhoto()"
                    style="font-size: 2.5em;color: #3777e5;margin-top: 90px;"></nb-icon>
            </div>
            <div class="col">
                <p >
                    <img class="image" src="assets/images/photo_2020-10-28_10-50-54.jpg" alt="">
                </p>
            </div>
            <div class="col">
                <nb-icon icon="arrow-ios-forward" [options]="{ animation: { type: 'zoom' } }" (click)="nextPhoto()"
                    style="font-size: 2.5em;color: #3777e5;float: right;margin-top: 90px;"></nb-icon>
            </div>

        </div>
    </nb-card-body>
</nb-card>