<nb-card class="modal">
    <nb-card-header>Add Admin</nb-card-header>
    <nb-card-body>
        <form role="form" (ngSubmit)="addNewUser()" #form="ngForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName" class="label">First Name</label>
                        <input type="text" nbInput fullWidth id="inputFirstName" [(ngModel)]="newUser.firstName"
                            placeholder="First Name" required name="firstName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Last Name</label>
                        <input type="text" nbInput fullWidth id="inputLastName" [(ngModel)]="newUser.lastName"
                            placeholder="Last Name" required name="lastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputPhoneNumber" class="label">Phone Number</label>
                        <input type="text" nbInput fullWidth id="inputPhoneNumber" [(ngModel)]="newUser.phoneNumber"
                            placeholder="Phone Number" (hasError)="hasError($event)" required name="phone">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputEmail" class="label">Email</label>
                        <input type="email" nbInput fullWidth id="inputEmail" [(ngModel)]="newUser.email"
                            placeholder="Email" pattern=".+@.+\..+" required #email="ngModel" name="email">
                    </div>
                    <ng-container *ngIf="email.invalid && email.touched">
                        <small class="caption text-danger" *ngIf="email.errors?.pattern">
                            *Email should be the real one!
                        </small>
                    </ng-container>
                </div>
            </div>
            <hr>
            <br>
            <button nbButton class=" btn" type="submit" [disabled]="!form.valid || !phoneValid">Save</button>
            <button nbButton class=" btn btn-link ml-auto" style="float: right;" data-dismiss="modal" type="button"
                (click)="cancel()">
                Close
            </button>
        </form>
    </nb-card-body>
</nb-card>