<br>
<hr class="divider my-4" />
<br>
<div class="row">
  <div class="col">
    <ngx-new-cv></ngx-new-cv>
  </div>
  <div class="col">
    <ngx-in-prgress-cv></ngx-in-prgress-cv>
  </div>
  <div class="col">
    <ngx-sent-cv></ngx-sent-cv>
  </div>
</div>