<!-- <div class="col-md-8 offset-md-2"> -->
<nb-alert *ngIf="successMessage" outline="success" role="alert">
  <p class="alert-title text-center"><b>{{successMessage}}</b></p>
</nb-alert>
<nb-alert *ngIf="errorMessage[0]" outline="danger" role="alert">
  <p class="alert-title text-center" *ngFor="let error of errorMessage"><b>{{error}}</b></p>
</nb-alert>
<button nbButton status="primary" (click)="open(addUserModal)">
  Add Admin
</button>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Country</th>
      <th scope="col">Phone Number</th>
      <th scope="col">CVs Assigned</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.country}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.assignedCv}}</td>
      <td>
        <i *ngIf="user.assignedCv === 0" (click)="selectUser(user);open(deleteUserModal)" class="nb-trash"></i>
        <i *ngIf="user.assignedCv > 0" (click)="selectUser(user);open(deleteModal)" class="nb-trash"></i>
      </td>
    </tr>
  </tbody>
</table>
<!-- </div> -->


<ng-template #addUserModal let-data let-ref="dialogRef">
  <ngx-add-user (onNewUserAdded)="onNewUserAdded($event)" (onClose)="ref.close()"></ngx-add-user>
</ng-template>

<ng-template #deleteUserModal let-data let-ref="dialogRef">
  <nb-card status="danger">
    <nb-card-header>Delete User</nb-card-header>
    <nb-card-body>Are you sure you want to delete this user?</nb-card-body>
    <nb-card-footer>
      <button nbButton size="small" status="danger" (click)="deleteUser();ref.close()">Delete</button>
      <button style="float: right;" nbButton size="small" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #deleteModal let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Delete User</nb-card-header>
    <nb-card-body>You can't delete because CV is assigned to the admin</nb-card-body>
    <nb-card-footer>
      <button style="float: right;" nbButton size="small" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>