<h6>Languages</h6>
<table class="table table-bordered">
    <tbody>

        <tr *ngFor="let language of skill.language">
            <th scope="row" *ngIf="type === 'view'">{{language.type}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <input *ngIf="isUser()" nbInput type="text" class="form-control" #type [(ngModel)]="language.type" name="type">
                <input *ngIf="!isUser()" disabled nbInput type="text" class="form-control" #type [(ngModel)]="language.type" name="type">
            </th>
            <th scope="row" *ngIf="type === 'view'">{{language.level}}</th>
            <th scope="row" *ngIf="type === 'edit'">
                <!-- <input nbInput type="text" class="form-control" #type [(ngModel)]="language.level" name="level"> -->
              
                <nb-select *ngIf="isUser()" placeholder="Select Level" fullWidth [(ngModel)]="language.level" name="level">
                    <nb-option value="Native / Bilingual">Native / Bilingual</nb-option>
                    <nb-option value="Full Professional">Full Professional</nb-option>
                    <nb-option value="Professional Working">Professional Working</nb-option>
                    <nb-option value="Limited Working">Limited Working</nb-option>
                    <nb-option value="Elementary">Elementary</nb-option>
                </nb-select>
                <nb-select *ngIf="!isUser()" disabled placeholder="Select Level" fullWidth [(ngModel)]="language.level" name="level">
                    <nb-option value="Native / Bilingual">Native / Bilingual</nb-option>
                    <nb-option value="Full Professional">Full Professional</nb-option>
                    <nb-option value="Professional Working">Professional Working</nb-option>
                    <nb-option value="Limited Working">Limited Working</nb-option>
                    <nb-option value="Elementary">Elementary</nb-option>
                </nb-select>
            </th>
        </tr>
    </tbody>
</table>
<hr class="my-4" />
<h6>Soft Skill</h6>
<p *ngFor="let soft of skill.soft_skill; let i = index">
    <nb-list *ngIf="type === 'view'">
        <nb-list-item>
            {{soft}}
        </nb-list-item>
    </nb-list>
    <input *ngIf="type === 'edit'" nbInput [name]="'soft' + i" fullWidth type="text" class="form-control" [(ngModel)]="soft" (change)="onChangeSoft($event, i)">
</p>
<hr class="my-4" />
<h6>Hard Skill</h6>
<p *ngFor="let hard_skill of skill.hard_skill; let i=index">
    <nb-list *ngIf="type === 'view'">
        <nb-list-item>
            {{hard_skill}}
        </nb-list-item>
    </nb-list>
    <input *ngIf="type === 'edit'" nbInput fullWidth type="text" class="form-control" [(ngModel)]="hard_skill" name="hard_skill" (change)="onChangeHard($event, i)">
</p>

<div *ngIf="type === 'edit'">
    <button fullWidth nbButton outline status="primary" (click)="save()">
        Save
    </button>
    <button fullWidth nbButton outline status="primary" (click)="cancel()">
        Cancel
    </button>
</div>